@(message: String)(implicit lang: Lang)

@main("Welcome to Play") {
<div class="skeleton-container" data-ng-controller="TodoCtrl" ng-class="{'ready':ctrlReady}">
    <div class="row">
        <div class="twelve columns">
            <form id="new-todo-form" name="newTodoForm" role="form" ng-submit="newTodoForm.$invalid || create()">
                <ul class="six columns">
                    <li class="field">
                        <label class="inline" for="name">Name</label>
                        <input type="text" required class="input" id="name" placeholder="name" data-ng-model="newTodo.name">
                    </li>
                </ul>
                <ul class="six columns">
                    <li class="field">
                        <label class="inline" for="description">Description</label>
                        <input type="text" required class="input" id="description" placeholder="description" data-ng-model="newTodo.description">
                    </li>
                </ul>
                <ul>
                    <div class="three columns">
                        <div class="medium primary btn metro icon-left entypo icon-down-circled"><a type="submit" href="#" ng-class="{'disabled' : newTodoForm.$invalid || isLoading()}" ng-click="newTodoForm.$invalid || create()" >Save</a></div>
                        <div class="medium warning btn metro"><a href="#" ng-click="resetForm()">Reset</a></div>
                    </div>
                </ul>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Done ?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="todo in todos">
                        <td><span class="icon-danger" ng-click="remove($index)"></span></td>
                        <td>{{todo.name}}</td>
                        <td>{{todo.description}}</td>
                        <td><input type="checkbox" ng-model="todo.done" ng-change="updateStatus($index)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
}
