@import "gumby/gumby";

$warningColor: #e66a6a;
$warningColorDisabled:rgba($warningColor, .1);
$warningColorNoHover:rgba($warningColor, .7);

.skeleton-container {
    padding-top:20px;
    opacity:0;
    &.ready { opacity:1;}
}

.action-danger {
    cursor:pointer;
}

.touch {
    .action-danger {
        color:$warningColor;
         &.disabled {
            color:$warningColorDisabled;
         }
    }
}

.no-touch {
    .action-danger {
        color:$warningColorNoHover;
        &:hover { color:$warningColor; }
        &.disabled, &.disabled:hover {
            color:$warningColorDisabled;
        }
    }
}
